
<app-userheader></app-userheader>
<app-usermenu></app-usermenu>

<!--userkarim-->


<!--userslim-->


<!--userprojetmanagement-->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


          
      
<div class="container">
    <h1>View Absence</h1>
  
   
    <div>
        <strong>ID:</strong>
        <p>{{ absence._id }}</p>
    </div>
   
    <div>
        <strong>titre:</strong>
        <p>{{ absence.titre }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ absence.description }}</p>
    </div>
   
</div>

      
      
      
      

 
        </div>
          </div>
        </section>
      </div>




<app-userfooter></app-userfooter>