
<app-userheader></app-userheader>
<app-usermenu></app-usermenu>

<!--userkarim-->


<!--userslim-->


<!--userprojetmanagement-->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


<div class="container">
    <h1>View Competence</h1>
  
    <a href="#" routerLink="/chefdeprojetcompetence/index" class="btn btn-danger">Retour Vers Liste</a><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ competence._id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ competence.nom }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ competence.description }}</p>
    </div>
   
</div>

          
      
      
      
      
      

 
        </div>
          </div>
        </section>
      </div>




<app-userfooter></app-userfooter>