
<app-header></app-header>
<app-menu></app-menu>

<!--karim-->


<!--slim-->


      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


          

<div class="container">
    <h1>View Avprojet</h1>
  
   
    <div>
        <strong>ID:</strong>
        <p>{{ av.id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ av.nom }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ av.description }}</p>
    </div>
   
</div>

 
        </div>
          </div>


        </section>

      </div>



<app-footer></app-footer>