
<app-header></app-header>
<app-menu></app-menu>

<!--karim-->


<!--slim-->


      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">

<div class="container">
    <h1>View Chefdeprojet</h1>
  
    <a href="#" routerLink="/adminchefdeprojet/index" class="btn btn-danger">Retour Vers Liste</a><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ chef.id }}</p>
    </div>
   
    <div>
        <strong>email:</strong>
        <p>{{ chef.email }}</p>
    </div>
   

   
</div>


          

 
        </div>
          </div>


        </section>

      </div>



<app-footer></app-footer>