
<app-header></app-header>
<app-menu></app-menu>

<!--karim-->


<!--slim-->


      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


<div class="container">
    <h1>Create New Data : </h1>
  
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="nom">nom:</label>
            <input 
                formControlName="nom"
                id="nom" 
                type="text" 
                [(ngModel)]="this.avtache.nom"
                class="form-control">
            <div *ngIf="f['nom'].touched && f['nom'].invalid" class="alert alert-danger">
                <div *ngIf="f['nom'].errors && f['nom'].errors['required']">nom is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">description:</label>
            <input 
                formControlName="description"
                id="description" 
                type="text" 
                [(ngModel)]="this.avtache.description"
                class="form-control">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">description is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="datedebut">datedebut:</label>
            <input 
                formControlName="datedebut"
                id="datedebut" 
                type="date"
                [(ngModel)]="this.avtache.datedebut"
                class="form-control">
            <div *ngIf="f['datedebut'].touched && f['datedebut'].invalid" class="alert alert-danger">
                <div *ngIf="f['datedebut'].errors && f['datedebut'].errors['required']">datedebut is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="datefin">datefin:</label>
            <input 
                formControlName="datefin"
                id="datefin" 
                type="date" 
                [(ngModel)]="this.avtache.datefin"
                class="form-control">
            <div *ngIf="f['datefin'].touched && f['datefin'].invalid" class="alert alert-danger">
                <div *ngIf="f['datefin'].errors && f['datefin'].errors['required']">datefin is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="idprojet">idprojet:</label>
         
            <select  [(ngModel)]="this.avtache.idprojet" class="form-select" aria-label="Default select example" formControlName="idprojet" id="idprojet">
                <option selected>séléctionner idprojet</option>
                <option *ngFor="let u of aff" [value]="u.id">{{u.nom}} {{u.description}} </option>
              
              </select>
         
        </div>


        <div class="form-group">
            <label for="etat">séléctionner etat:</label>
            <select [(ngModel)]="this.avtache.etat" class="form-select" aria-label="Default select example" formControlName="etat" id="etat">
  <option selected>séléctionner état</option>
  <option value="1">En cours</option>
  <option value="2">Valide</option>
  <option value="3">pas Encore</option>
  <option value="3">Autre</option>
</select>
        </div>






        <div class="form-group">
            <label for="avancement">séléctionner avancement:</label>
            <select  [(ngModel)]="this.avtache.avancement"class="form-select" aria-label="Default select example" formControlName="avancement" id="avancement">
  <option selected>séléctionner avancement</option>
  <option value="1">0%</option>
  <option value="1">10%</option>
  <option value="1">20%</option>
  <option value="1">30%</option>
  <option value="1">40%</option>
  <option value="1">50%</option>
  <option value="1">60%</option>
  <option value="1">70%</option>
  <option value="3">80%</option>
  <option value="3">90%</option>
  <option value="3">100%</option>
</select>
        </div>





        

        <div class="form-group">
            <label for="datecreation">datecreation:</label>
            <input 
                formControlName="datecreation"
                id="datecreation" 
                type="date" 
                [(ngModel)]="this.avtache.datecreation"
                class="form-control">
            <div *ngIf="f['datecreation'].touched && f['datecreation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datecreation'].errors && f['datecreation'].errors['required']">datecreation is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="datemodification">datemodification:</label>
            <input 
                formControlName="datemodification"
                id="datemodification" 
                type="date" 
                [(ngModel)]="this.avtache.datemodification"
                class="form-control">
            <div *ngIf="f['datemodification'].touched && f['datemodification'].invalid" class="alert alert-danger">
                <div *ngIf="f['datemodification'].errors && f['datemodification'].errors['required']">datemodification is required.</div>
            </div>
        </div>



  

  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button><br><hr><br>
    </form>
</div>


          

 
        </div>
          </div>


        </section>

      </div>


<app-footer></app-footer>