
<app-header></app-header>
<app-menu></app-menu>

<!--karim-->


<!--slim-->


      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


         
<div class="container">
    <h1>View Absence</h1>
  
   
    <div>
        <strong>ID:</strong>
        <p>{{ abs.id }}</p>
    </div>
   
    <div>
        <strong>titre:</strong>
        <p>{{ abs.titre }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ abs.description }}</p>
    </div>
   
</div>

 

 
        </div>
          </div>


        </section>

      </div>


<app-footer></app-footer>