
<app-userheader></app-userheader>
<app-usermenu></app-usermenu>

<!--userkarim-->


<!--userslim-->


<!--userprojetmanagement-->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


          
<div class="container">
    <h1>View Admin</h1>
  
   
    <div>
        <strong>ID:</strong>
        <p>{{ admin._id }}</p>
    </div>
   
    <div>
        <strong>email:</strong>
        <p>{{ admin.email }}</p>
    </div>
   

   
</div>


      
      
      
      
      

 
        </div>
          </div>
        </section>
      </div>



<app-userfooter></app-userfooter>