
<app-userheader></app-userheader>
<app-usermenu></app-usermenu>

<!--userkarim-->


<!--userslim-->


<!--userprojetmanagement-->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">



<div class="container">
    <h1>View Conge</h1>
  
    <a href="#" routerLink="/userconge/index" class="btn btn-danger">Retour Vers Liste</a><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ conge._id }}</p>
    </div>
   
    <div>
        <strong>Title:</strong>
        <p>{{ conge.titre }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ conge.description }}</p>
    </div>
   
</div>

          
      
      
      
      
      

 
        </div>
          </div>
        </section>
      </div>




<app-userfooter></app-userfooter>