
<app-header></app-header>
<app-menu></app-menu>

<!--karim-->


<!--slim-->
<div align="center">
  <img src="../../../assets/logo.jpg" width="500" height="300">

</div> 

      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


          
<div class="container">
    <h1>PFE ESPRIT 2024 APPLICATION GESTION DE PROJET AGILE TUNISIES</h1>
      
    <table class="table table-striped table-bordered">
        <thead>
              <tr>
                <th>ID</th>
                <th>nom</th>
                <th>prenom</th>
              </tr>
        </thead>
        <tbody>
              <tr>
                <td>{{ this.pr.id }}</td>
                <td>{{ this.pr.nom }}</td>
                <td>{{ this.pr.prenom }}</td>
              </tr>
        </tbody>
    </table>
</div>



 
        </div>
          </div>


        </section>

      </div>


<app-footer></app-footer>