
<app-userheader></app-userheader>
<app-usermenu></app-usermenu>

<!--userkarim-->


<!--userslim-->


<!--userprojetmanagement-->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


          
      
      
<div class="container">
    <h1>View Avtache</h1>
  
    <a href="#" routerLink="/useravtache/index" class="btn btn-danger">Retour Vers Liste</a><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ avtache._id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ avtache.nom }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ avtache.description }}</p>
    </div>
   
</div>

      
      
      

 
        </div>
          </div>
        </section>
      </div>



<div class="container">
    <h1>View Avtache</h1>
  
    <a href="#" routerLink="/avtache/index" class="btn btn-danger">Retour Vers Liste</a><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ avtache._id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ avtache.nom }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ avtache.description }}</p>
    </div>
   
</div>


<app-userfooter></app-userfooter>