
<app-userheader></app-userheader>
<app-usermenu></app-usermenu>

<!--userkarim-->


<!--userslim-->


<!--userprojetmanagement-->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="card">


          
      
<div class="container">
    <h1>View Profil</h1>
  
    <a href="#" routerLink="/userprofil/index" class="btn btn-danger">Retour Vers Liste</a><br><hr><br>
   
    <div>
        <strong>ID:</strong>
        <p>{{ profil._id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ profil.nom }}</p>
    </div>
   
    <div>
        <strong>prenom:</strong>
        <p>{{ profil.prenom }}</p>
    </div>
   
</div>

      
      
      
      

 
        </div>
          </div>
        </section>
      </div>




<app-userfooter></app-userfooter>